* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  display: inline-block;
}

a:hover {
  transition: 0.5s;
}

header {
  /* position: relative; */
  background-color: #eff7ff;
  padding: 0 6em;
  margin-top: 0;
}

.navbar {
  height: 5rem;
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo img {
  border-top-left-radius: 40%;
  border-bottom-left-radius: 40%;
  border-top-right-radius: 60%;
}
.navbar a {
  text-transform: uppercase;
  font-weight: 500;
  color: green;
  font-size: 1rem;
}

.navbar button {
  border: none;
}

.navbar .orderNow a {
  background-color: olivedrab;
  color: white;
  width: 10rem;
  padding: 1em 1.5em;
  text-align: center;
  border-radius: 5px;
}

.links a:hover {
  text-decoration: underline;
  text-decoration-thickness: 3px;
  text-underline-offset: 5px;
}

.links li:hover {
  transform: scale(1.09);
  animation: transform 0.05s ease;
}

.navbar .orderNow a:hover {
  color: #008000;
  background: #9eff90;
  transform: scale(1.05) 0.5s ease;
}

.navbar .toggle_btn {
  color: #eff7ff;
  font-size: 1.5rem;
  cursor: pointer;
  display: none;
}

.links {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100%;
  width: 50%;
}

.mobileContainer {
  display: none;
  flex-direction: column;
  align-items: end;
  padding: 10px;
  flex-basis: 100%;
  background-color: rgba(255, 255, 255, 0.95);
  text-transform: uppercase;
  position: fixed;
  top: 1.5rem;
  left: 0;
  width: 60%;
  height: 100%;
  z-index: 9999;
}

.mobileContainer.show-menu {
  display: block;
}

#mobile {
  margin-top: 0.7rem;
}

#mobile li {
  justify-content: center;
  margin-top: 1.5rem;
}

#mobile li {
  text-align: center;
}

#mobile li a {
  color: green;
  align-items: center;
}

.mobileContainer li a:hover {
  color: white;
}

#mobile .orderNow a {
  background-color: olivedrab;
  color: white;
  width: 10rem;
  padding: 0.5% 0 0.5% 0;
  text-align: center;
}

/*...........Styling for homepage slideshow*/

/*----Styling for the sliding carousel------*/

main {
  background-color: #eff7ff;
}

/* Slideshow container */
.slideshow-container {
  position: relative;
  margin: 0 auto;
}

/* .aboutUsPage   */

/* Hide the images by default */
.mySlides {
  display: none;
  height: 41em;
}

.mySlides img {
  display: block;
  height: 100%;
  width: 100%;
  object-fit: cover;
/* margin-left: 5em; */
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 0.5em;
  color: green;
  font-weight: bold;
  font-size: 2em;
  transition: 0.6s ease;
}

/* Position the "next button" to the right */
.next {
  right: 1em;
  border-radius: 3px 0 0 3px;
}

.prev {
  left: 1em;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: #eff7ff;
}

/* Caption text */
.text {
  color: #eff7ff;
  font-size: 1.5em;
  position: absolute;
  bottom: 2em;
  width: 100%;
  text-align: center;
}

.text span {
  background-color: #0b5c0d;
  padding: 0.7em 0.9em;
  border-radius: 10px;
}

/* Number text (1/4etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 1.3em;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: rgba(11, 92, 13, 0.8);
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/* About us section start */
.tasty {
  border-bottom: 3px solid #5fff50;
}

.aboutUs {
  display: flex;
  flex-direction: column;
  place-items: center;
  margin: 0 auto;
  padding: 2em 0;
}

.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5em;
}

.about h1 {
  font-size: 2em;
  color: #031629;
  font-family: Arial, Helvetica, sans-serif;
}

.about p {
  font-size: 1.2em;
  line-height: 1.8;
  width: 60%;
  text-align: center;
}

.aboutUs a {
  font-size: 1.2em;
  display: inline-block;
  margin: 2rem 1rem 0 2rem;
  border: 3px solid #076d08;
  border-radius: 1em;
  color: #076d08;
  padding: 1%;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.aboutUs a:hover {
  color: #eff7ff;
  background-image: linear-gradient(to right, #5fff50 0%, #076d08 100%);
}

.aboutUs a:active {
  color: #eff7ff;
  background-color: olivedrab;
  border: 3px solid #eff7ff;
}

#homep {
  background-image: linear-gradient(to bottom, #ccffc4 20%, #b7e0ff 80%);
  padding: 0 5em;
}

.specialOrder {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 2em 0;
}
.specialOrder img {
  margin: 2rem 0;
  width: 40%;
  height: 40%;
  border-radius: 5px;
}

.specialOrder div {
  color: #eff7ff;
  width: 30em;
  border: 2px solid #eff7ff;
  border-radius: 1em;
  background-color: green;
  height: fit-content;
  padding: 0.5em 1.5em;
}

.specialOrder h4 {
  font-family: "Kaushan Script", cursive;
  padding: 2%;
  font-size: 2rem;
  text-align: center;
  border-bottom: 2px solid #eff7ff;
}

.specialOrder p {
  padding: 4%;
  line-height: 1.5;
  text-align: justify;
  hyphens: auto;
}

.inquiry {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1em auto;
  border: none;
  gap: 2%;
}

.specialOrder .inquiry a {
  padding: 2% 3%;
  border-radius: 5px;
}

.specialOrder a {
  color: #031629;
  background-color: #eff7ff;
  padding: 1%;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.specialOrder .click {
  border: none;

  margin: 1% auto;
  text-align: center;
  width: 100%;
}

.click a {
  border-radius: 5px;
  padding: 2% 3%;
}

.specialOrder a:hover {
  color: white;
  border: 2px solid #076d08;
  background-image: linear-gradient(to right, #5fff50 0%, #076d08 100%);
}

/*-----------Styling for footer---------*/

footer {
  display: flex;
  flex-direction: column;
  gap: 2em;
  align-items: center;
  background-color: #030e03;
  color: white;
  /* height: 15em; */
  font: bold;
}

.first-footer {
  width: 100%;
  padding: 2em 5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1em;
}

.footer-links {
  display: flex;
  flex-direction: column;
  gap: 1em;
  align-items: center;
  justify-content: center;
}

.footer-links a {
  font-size: 0.9em;
  color: #eff7ff;
}

.footer-links a:hover {
  color: #008000;
  background-color: #eff7ff;
}

.footer-center {
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.footer-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2em;
}

.addresses {
  display: flex;
  gap: 1em;
  align-items: center;
}

.addresses a {
  color: green;
  font-style: italic;
}

.socials {
  width: 100%;
  display: flex;
  gap: 2em;
  align-items: center;
}

.footer-right i:hover {
  color: white;
  background-color: #9eff90;
}

.footer-right i {
  background-color: white;
  border-radius: 5px;
  color: #031629;
  font-size: 1.5em;
  padding: 0.5em;
}

/* .footer-right .pollecode:hover {
  background-color: white;
} */

.footerlogo img {
  border-top-left-radius: 40%;
  border-bottom-left-radius: 40%;
  border-top-right-radius: 60%;
}

footer .footer-company-name {
  border-top: 1px solid white;
  width: 100%;
  text-align: center;
  font-size: 0.8em;
  padding: 2em 0;
  letter-spacing: 2px;
}

footer .footer-company-name a {
  color: #0690f1;
}

/*.......Styles for about-us Page..........*/

#mainMenu {
  width: 100%;
  height: 40em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  margin: 0 auto;
}
.aboutUsPage {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80%;
}

.aboutUsPage img {
  display: block;
  width: 65%;
  height: 100%;
  object-fit: cover;
}

.paragraph p {
  width: 65%;
  text-align: center;
  line-height: 1.8;
  font-family: Arial, Helvetica, sans-serif;
}

.teamsection {
  background-image: linear-gradient(to bottom, #ccffc4 20%, #b7e0ff 80%);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3em;
  padding: 2em 0;
}

.teamsection h4 {
  width: 100%;
  background-color: #eff7ff;
  font-family: "Kaushan Script", cursive;
  font-size: 2rem;
  padding: 0.2em 1em;
  color: #008000;
}

.teamsection a {
  display: inline-block;
  text-align: center;
}

.teamsection div span {
  color: #031629;
  background-color: #eff7ff;
  padding: 0.3em 1em;
  font-size: 1.2em;
}

.teamsection .team .wrapImagesUp section {
  width: 15rem;
}

.wrapImagesUp {
  display: flex;
  gap: 4em;
  padding: 0 5em;
}

.staff a {
  display: flex;
  flex-direction: column;
  gap: 0.3em;
}

.role {
  display: flex;
  justify-content: center;
  margin-top: 1%;
  background-color: #076d08;
}

.role:hover {
  background-color: #eff7ff;
}

.role a {
  color: white;
  display: inline-block;
  padding: 10px;
}

.role a:hover {
  color: #076d08;
}

.person-info {
  display: none;
}

.teamsection img {
  width: 15em;
  height: 20em;
  border: 5px solid #eff7ff;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
}

/*........Styling the about  team pages........*/

.staff-title {
  font-size: 2em;
  font-weight: bold;
}

section.teamMember {
  display: flex;
  flex-direction: column;
  gap: 1em;
  justify-content: center;
  margin-top: 2em;
  align-items: center;
  padding: 0 5em 2em 5em;
  text-align: justify;
  color: #031629;
  height: 40em;
}

section .teamMember span {
  font-size: 3rem;
  font-family: "Kaushan Script", cursive;
  display: inline-block;
  font-weight: 600;
}

section.teamMember p {
  line-height: 1.5;
  width: 70%;
}

section.teamMember a {
  background-color: white;
  color: #031629;
  padding: 7px 40px;
  font-weight: 700;
  border: 1px solid #008000;
  border-radius: 15px;
}

section.teamMember a:hover {
  color: #eff7ff;
  background-color: #008000;
}

/*............Styling for our gallery page........*/

.gall {
  background-color: white;
  text-align: center;
}

.ourgallery {
  font-size: 3rem;
  font-family: "Kaushan Script", cursive;
  padding-top: 0.5em;
}

.gallery {
  margin: 2%;
  display: flex;
  flex-wrap: wrap;
  /* flex-direction: column; */
  justify-content: space-around;
  gap: 2em;
}

.gallery img {
  /* flex-basis: 30%; */
  width: 30em;
  height: 18em;
  flex-grow: 2;
  object-fit: cover;
}

.gall a {
  margin-bottom: 1%;
  display: inline-block;
  padding: 5px 20px;
  background-color: #031629;
  color: white;
  border-radius: 15px;
}

.gall a:hover {
  color: #031629;
  background-color: white;
  border: 10px solid #031629;
}

/*.....Styles for menu page*/

#menuMain {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2em;
}

#menuMain h4 {
  text-align: center;
}
.menuImage {
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.menuImage img {
  display: block;
  width: 100%;
  border-radius: 4px;
}

.menuSpan {
  margin-top: 2em;
  text-align: center;
}

.menuSpan span {
  color: white;
  display: inline-block;
  margin: 2% 1%;
  padding: 10px 30px;
  background-color: #076d08;
  border-radius: 3px;
  cursor: pointer;
}

.menuSpan span:hover {
  background-color: #00b800;
  color: #030e03;
}

.menuSpan span.default-color {
  background-color: olivedrab;
}

.menuSpan .default-color:hover {
  background-color: #00b800;
}

.mealOfTheDay {
  color: #031629;
}

.each-food {
  display: flex;
  justify-content: space-around;
  gap: 3em;
  flex-wrap: wrap;
  padding: 2em 5em;
}

.mealOfTheDay .mealName {
  text-align: center;
  border-bottom: 5px solid olivedrab;
  padding: 2em 0;
  font-size: 2em;
}

.food-images {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
  padding: 1em 0;
  border-radius: 3px;
  cursor: pointer;
  filter: drop-shadow(0 0 0.5em olivedrab);
}

.meals section section {
  flex-basis: 40%;
  background-color: olivedrab;
}

.meals section img {
  width: 25em;
  height: 15em;
  object-fit: cover;
}

.meals section section h3 {
  font-size: 1.5em;
  text-align: center;
}

.meals section section p {
  text-align: center;
  line-height: 1.6;
  width: 80%;
  font-size: 1.1em;
}

.hide {
  display: none;
}

/* styles.css for cart */
#cartContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50em;
  background-color: olivedrab;
  display: none;
  z-index: 9999;
}

#cartContainer-onPhone {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: olivedrab;
  /* z-index: 9999; */
}

#cartSplitting {
  display: flex;
  gap: 2em;
  position: relative;
  top: 40%;
  left: 50%;
  width: 80%;
  height: 40em;
  transform: translate(-50%, -50%);
  padding: 1.25em;
  border-radius: 5px;
  background-image: url(./Images/yeahyeah.jpg);
  background-size: contain;
  background-repeat: no-repeat;
}

#cartContent {
  width: 75%;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 3em;
}

#cartContainer-onPhone #cartContent {
  position: absolute;
  width: 80%;
  transform: translate(-50%, -50%);
  /* background-color: white; */
  margin: -0.5rem 1rem 1.5rem 0;
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.7),
    rgba(0, 0, 0, 0.7),
    url(./Images/yeahyeah.jpg)
  );
  background-size: contain;
  background-repeat: no-repeat;
  height: 20rem;
}

#cartContainer-onPhone #cartContent h1 {
  background-color: #eff7ff;
  margin-bottom: 0.2rem;
}

#cartContainer-onPhone #cartContent label {
  background-color: #031629;
  padding: 0.1rem 0.5rem;
}

.cartSelection {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  justify-content: center;
  align-content: center;
  z-index: 999;
  background: #eff7ff;
  color: #003404;
  width: 50%;
  margin: 0 auto 0 auto;
  border-radius: 5px;
  padding: 2em;
}

.label {
  text-align: center;
}

.orderpage #menu {
  font-size: small;
}

.orderpage #forButton button {
  font-size: 1.5em;
}

.orderpage #menu li {
  display: flex;
  /* gap:2px; */
  width: 14rem;
}

.orderpage #menu #mealName {
  max-width: 1.2rem;
}

#closeCart {
  position: absolute;
  top: 1em;
  right: 10em;
  cursor: pointer;
  color: #003404;
  background: #eff7ff;
  border-radius: 10px;
  padding: 0.3em 0.6em;
}

#OrdercloseCart {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  color: white;
  font-size: large;
  border: 1px solid #031629;
  padding: 8px;
}

#closeCart i {
  border: none;
  font-size: 1.2em;
}

#closeMobile {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  color: white;
  font-size: large;
  padding: 8px;
  border: 1px solid olivedrab;
}

/*style for cart*/

h1 {
  color: #003404;
  text-align: center;
  font-size: 1.5em;
}

#menu {
  height: 5em;
}

#brunch-meals,
#lunch-meals,
#dinner-meals,
.wines-cocktails,
#desserts-meals {
  background: #eff7ff;
  padding: 2em 1em;
  height: 33em;
}

label {
  font-weight: bold;
  text-align: center;
  font-size: 1.5em;
}

select {
  margin: 20px 0;
  padding: 5px;
  font-size: 16px;
}

ul {
  list-style-type: none;
  padding: 0;
}

#menu li {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

li .mealName {
  flex-basis: 30%;
  font-weight: bold;
}

li img {
  flex-basis: 10%;
  width: 3em;
  height: 3em;
  border-radius: 10px;
}

#brunch-meals > span + span,
#lunch-meals > span + span,
#dinner-meals > span + span,
.wines-cocktails > span + span,
#desserts-meals > span + span {
  font-size: 1.1em;
  font-weight: bolder;
}

li input {
  width: 3rem;
  flex-basis: 5%;
  font-size: 1.1em;
  padding-left: 0.2em;
}

#forButton {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  cursor: pointer;
}

.orderButton {
  background-color: #008000;
  color: #eff7ff;
  padding: 0.8em 1em;
  font-size: 1.2em;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  display: flex;

  justify-content: end;
}

.button-price {
  display: flex;
  flex-direction: column;
  gap: 1em;
  align-items: center;
  justify-content: end;
}

.calculateTotal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #eff7ff;
  font-size: 1.5em;
  font-weight: bold;
}

.calculate {
 background-color: #008000;
  border-radius: 10px;
  cursor: pointer;
  padding: 0.5em 1em;
}

.calculate:hover {
 background: #eff7ff;
 color: #008000;
}

#total {
  margin-top: 1.5em;

  text-align: center;
}

.alert {
  background-color: #f44336;
  color: white;
  padding: 10px;
  margin-top: 20px;
}

/*--contact page css--*/

.contact {
  padding: 0 0 3em 0;
}
.contact-P {
  margin: 1rem auto;
  width: 50%;
  text-align: center;
  line-height: 1.5;
}
#contact-form {
  display: flex;
  flex-direction: column;
  max-width: 30rem;
  margin: 0 auto;
  padding: 2em 3em;
  /* border: 1px solid #008000; */
  border-radius: 10px;
  background: #eff7ff;
  filter: drop-shadow(0 0 15px #9eff90);
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
}

#contact-form button {
  background-color: #4caf50;
  color: #eff7ff;
  border: none;
  padding: 0.5em;
  cursor: pointer;
  border-radius: 4px;
  margin-top: 0.5em;
  font-size: 1.2em;
  width: 50%;
}

input::placeholder,
textarea::placeholder {
  font-size: 1.1em;
}

#contact-form .submit {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#contact-form button:hover {
  background-color: #39c43f;
}

/*-------Reservation form---------*/
#reservation-button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 4px;
}

.reservation-body {
  background: #000;
  width: 100%;
  height: 100%;
  z-index: 9999;
}

#reservation-form {
  position: fixed;
  display: none;
  top: 15%;
  left: 35%;
  width: 30%;
  background-color: #008000;

  z-index: 9999;
  padding: 20px;
  border-radius: 4px;
}

.reservation-formy {
  display: flex;
  flex-direction: column;
  gap: em;
}

.reserve {
  display: flex;
  flex-direction: column;
  gap: 0.7em;
  width: 100%;
  align-items: start;
}

#close-button {
  position: fixed;
  top: 10%;
  right: 32%;
  cursor: pointer;
  font-size: 1.5em;
  font-weight: bold;
  color: #008000;
  padding: 0.5em 1em;
  border: 1px solid olivedrab;
  border-radius: 5px;
  background-color: #eff7ff;
}

.click {
  margin-top: 2em;
}

#contact-form label {
  margin-top: 20px;
}

form label[for="party-size"] {
  display: block;
  text-align: start;
}

form input[type="text"],
form input[type="email"],
form input[type="number"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 40px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.submitForm {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
}

.submitForm button {
  background-color: #003404;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 4px;
}

.submitForm button:hover {
  background-color: #45a049;
}

.fa-times {
  border: 1px solid olivedrab;
  padding: 5px;
  font-size: small;
}

.contact .ourgallery {
  margin-top: 1rem;
}

/*.................Styles for media queries..................*/

/* CSS rules for touch events on mobile devices */

@media screen and (max-width: 480px) {
  #cartContent {
    position: relative;
  }

  header {
    top: 0;
    position: fixed;
    z-index: 999;
    height: 5rem;
  }

  .logo {
    margin-top: 1rem;
    height: 2.5rem;
  }

  .logo img {
    margin-top: -0.7rem;
    width: 29%;
  }

  h4 {
    font-size: 1rem;
    margin-top: 20px;
  }

  main {
    margin-top: 6rem;
  }

  * {
    font: 1rem;
  }

  .links {
    display: none;
  }

  .teamsection h4 {
    margin-top: 1rem;
  }

  .slideshow-container {
    position: relative;
    margin: 1rem 1rem 0 1rem;
    height: 17rem;
  }

  #menuMain {
    /* max-width: 500px; */
    position: relative;
    margin: 6rem 1rem 0 1rem;
    height: 17rem;
  }

  #menuMain h4 {
    margin-top: 5px;
  }

  .mySlides {
    height: 16.98rem;
    text-align: center;
  }

  .text {
    font-size: 0.7rem;
    margin-top: 3px;
  }

  .navbar .toggle_btn {
    display: block;
  }

  .navbar .links.action_btn {
    display: flex;
  }

  .aboutUs {
    width: 20rem;
    margin: 1.3rem auto;
    font: 1rem;
  }

  .aboutUs.phone {
    margin-top: 16%;
  }

  .specialOrder {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  .specialOrder img,
  .specialOrder div {
    width: 80%;
  }

  .specialOrder .last {
    margin-bottom: 5rem;
  }

  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .footer-left {
    display: none;
  }

  .footer-center {
    margin-left: 3rem;
  }

  .footer-right {
    margin-right: 3rem;
  }

  .footer-right i {
    font-size: small;
  }

  .teamsection {
    height: 1450px;
  }

  .wrapImagesUp,
  .wrapImagesBottom {
    flex-direction: column;
    gap: 50px;
    justify-content: space-between;
    margin-bottom: 80px;
  }

  .wrapImagesUp section span,
  .wrapImagesBottom section span {
    display: inline-block;
    width: 70%;
    border-radius: 0.6rem;
  }

  .teamsection img {
    border-top-right-radius: 0;
    width: 70%;
  }

  .team {
    margin-top: -20%;
  }

  .role {
    background: none;
  }

  .meals section {
    flex-direction: column;
    gap: 10px;
    margin: 0 1rem;
  }

  .menuSpan {
    margin-top: 20%;
  }

  /*......Gallery page media qery*/

  .gallery {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  .gallery img {
    flex-basis: 100%;
    width: 90%;
    height: 30%;
  }

  .contact {
    margin-top: 5rem;
  }

  .contact form {
    margin: 1rem 3rem;
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  header {
    top: 0;
    position: fixed;
    z-index: 999;
  }

  .navbar .toggle_btn {
    display: block;
  }

  .navbar .links.action_btn {
    display: flex;
  }

  .links {
    display: none;
  }

  main {
    margin-top: 7rem;
  }

  .slideshow-container,
  #menuMain {
    position: relative;
    margin: 1rem 1rem 0 1rem;
    height: 17rem;
  }

  .mySlides {
    height: 16.98rem;
    text-align: center;
  }

  .text {
    font-size: 0.7rem;
    margin-top: 3px;
  }

  .aboutUs {
    width: 20rem;
    margin: 1.3rem auto;
    font: 1rem;
  }

  .aboutUs.phone {
    margin-top: 50%;
  }

  .specialOrder {
    display: flex;
  }

  .specialOrder {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  .specialOrder img,
  .specialOrder div {
    width: 80%;
  }

  .specialOrder .last {
    margin-bottom: 5rem;
  }

  #menuMain {
    position: relative;
    margin: 8rem 1rem 0 1rem;
    height: 17rem;
  }

  #menuMain h4 {
    margin-top: 1rem;
  }

  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .footer-left {
    display: none;
  }

  .footer-right {
    margin-top: 1rem;
  }

  .footer-right div {
    margin-right: 9rem;
  }

  .footer-right .pollecode {
    margin-top: 6rem;
    margin-left: 2rem;
  }

  /*
     .footer-right div{
    margin-right: 9rem;
   }

   .footer-right  .pollecode{
    margin-top: 4rem;
    margin-left: 1.5rem;
    
    
   }
     */

  .teamsection {
    height: 70rem;
  }

  .wrapImagesUp,
  .wrapImagesBottom {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    /* margin-bottom: 80px; */
  }

  .teamsection img {
    /* border-top-right-radius: 0;*/
    width: 90%;
  }

  .wrapImagesUp section,
  .wrapImagesBottom section {
    flex-basis: 40%;
  }

  .wrapImagesUp section #santos {
    margin-top: 1.5rem;
  }

  .menuSpan {
    margin-top: 20rem;
  }

  .gallery img {
    flex-basis: 49%;
  }

  .contact {
    margin-top: 7rem;
  }

  .contact-P {
    margin-top: 2.5rem;
  }

  .contact form {
    margin: 1rem 3rem;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .header ul li {
    margin-top: 1rem;
  }

  .specialOrder.last .last {
    margin-bottom: 1rem;
  }

  .gallery img {
    flex-basis: 30%;
  }

  #cartContent {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0.3rem;
    border-radius: 5px;
    background-image: url(./Images/yeahyeah.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    height: 30rem;
  }

  #cartContent * {
    font-size: small;
  }

  #forButton button {
    margin-top: -2.5rem;
  }

  #forButton button:active {
    background-color: red;
  }

  .pollecode {
    margin-top: 5rem;
  }
}
